
Homework/build/

Project/petsc-3.12.4/

Project/build/

Project/data/mesh.txt

Project/.idea/workspace.xml

Project/.idea/inspectionProfiles/Project_Default.xml

Project/.idea/inspectionProfiles/profiles_settings.xml

Project/.idea/misc.xml

Project/.idea/modules.xml

Project/.idea/Project.iml

Project/.idea/vcs.xml

Project/__pycache__/differentiate_methods.cpython-36.pyc

Project/__pycache__/differentiate_methods.cpython-37.pyc

Project/__pycache__/polynomial_interpolation.cpython-36.pyc

Project/data/mesh_p.txt

Project/data/mesh_u.txt

Project/data/mesh_v.txt

Project/data/mesh_w.txt

Project/test0.pdf

Project/test1.pdf

Project/data/mesh_p.gif

Project/data/mesh_p.mp4

Project/data/mesh_u.gif

Project/data/mesh_u.mp4

Project/data/mesh_v.mp4

Project/data/mesh_w.gif
