
Homework/build/

Project/petsc-3.12.4/

Project/build/

Project/data/mesh.txt

Project/.idea/workspace.xml

Project/.idea/inspectionProfiles/Project_Default.xml

Project/.idea/inspectionProfiles/profiles_settings.xml

Project/.idea/misc.xml

Project/.idea/modules.xml

Project/.idea/Project.iml

Project/.idea/vcs.xml

Project/__pycache__/differentiate_methods.cpython-36.pyc

Project/__pycache__/differentiate_methods.cpython-37.pyc

Project/__pycache__/polynomial_interpolation.cpython-36.pyc

Project/data/mesh_p.txt

Project/data/mesh_u.txt

Project/data/mesh_v.txt

Project/data/mesh_w.txt

Project/test0.pdf

Project/test1.pdf

Project/data/mesh_p.gif

Project/data/mesh_p.mp4

Project/data/mesh_u.gif

Project/data/mesh_u.mp4

Project/data/mesh_v.mp4

Project/data/mesh_w.gif

Project/utils/__pycache__/differentiate_methods.cpython-36.pyc

Project/utils/__pycache__/polynomial_interpolation.cpython-36.pyc

Project/plots/mesh_p.mp4

Project/plots/mesh_p_0.pdf

Project/plots/mesh_p_0.png

Project/plots/mesh_p_1.pdf

Project/plots/mesh_p_1.png

Project/plots/mesh_p_2.png

Project/plots/mesh_p_3.png

Project/plots/mesh_p_4.png

Project/plots/mesh_p_5.png

Project/plots/mesh_p_6.png

Project/plots/mesh_p_7.png

Project/plots/mesh_p_8.png

Project/plots/mesh_p_9.png

Project/plots/mesh_u.mp4

Project/plots/

Project/data/test_grad_p_x.txt

Project/data/test_grad_p_y.txt

Project/data/test_grap_p_x.txt

Project/data/test_grap_p_y.txt

Project/data/test_h_x.txt

Project/data/test_h_y.txt

Project/data/test_lapl_x.txt

Project/data/test_lapl_y.txt

Project/data/test_p.txt

Project/data/test_u.txt

Project/data/test_v.txt

Project/data/
Project/.vscode/

Project/1

Project/1\]

Project/utils/__pycache__/

Project/mesh_w.mp4

Project/movie.gif

Project/test.mp4

Project/cylinder.mp4

Project/airfoil.mp4

Project/cylinder/

*.pdf

*.png
